<html>
    <head>
        <title>404 Error</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" type="text/css" href="/styles/404.css"/>
    <head>
    <body>
        <div class="wrapperRow2">
            <div id="container" class="clear">
                <section id="fof" class="clear">
                <div class="hgroup">
                    <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
                    <h2><span>Страницата, която търсите вероятно е премахната, името и е променено <br> или е временно недостъпна.</span></h2>
                </div>
                <p>Върнете се в <a href="/">началото</a> или използвайте <a href="/pages/search">търсачката</a> на сайта.</p>       
                </section>
            </div>
        </div>
    </body>     
</html>
