<%- include('../includes/header') %>
<div class="siteContent">
  <div class="ex3"> 
    <center>
        <br>
        <h2><%= lang['views.profile.blockMessageTxt'] %><br><br><a href="/users/browse" title=""><%= lang['views.profile.toUsersTxt'] %></a></h2>
    </center>       
  </div>
</div>
<%- include('../includes/footer') %>